body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff6fd;
    margin: 0;
    text-align: center;
    color: #333;
}

h1 {
    background-color: #b50073;
    color: white;
    padding: 20px 0;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px auto;
    gap: 30px;
    max-width: 1200px;
    padding: 0px 20px;
}
.card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
}


