body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff6fd;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #b50073;
    color: white;
    padding: 20px 0;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px auto;
    gap: 30px;
    max-width: 1200px;
    padding: 150px 20px;
}



.card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
}


.card h2 {
    color: #000000;
    margin-bottom: 15px;
}

.card p {
    color: #7f8c8d;
    font-size: 15px;
    margin-bottom: 20px;
}

button {
    background-color: #ffb4db;
    border: none;
    color: white;
    padding: 12px 18px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
